<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Emprunts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >

    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
</head>
<body style="background: url('/Images/bg-02.jpg');">
<nav class="navbar navbar-inverse">
    <div class="container-fluid" >

        <ul class="nav navbar-nav" style="margin-left: 5%;">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/Emprunts">Liste des Emprunts</a></li>

            <li  class="active"><a href="/logout">Deconnexion</a></li>

        </ul>

    </div>
</nav>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">Date d'Emprunt</th>
                            <th class="cell100 column2">Date de Retour</th>
                            <th class="cell100 column3">Titre</th>



                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody th:each="emp : ${emps}">
                        <tr class="row100 body">
                            <td class="cell100 column1"><span class="name-meta" th:text="${emp.date_emprunt}"></span></td>
                            <td class="cell100 column2"><span class="name-meta" th:text="${emp.date_retour}"></span></td>
                            <td class="cell100 column5"><span class="name-meta" th:text="${emp.livre.Titre}"></span></td>


                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>




        </div>
    </div>
</div>
</div>
</div>




</body>
</html>