<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
  <link rel="stylesheet" th:href="@{/css/login.css}"></head>
<body style="background: url('/images/bg-02.jpg');">

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background: url('images/bg-01.jpg');">
					<span class="login100-form-title-1">
						Sign In
					</span>
      </div>

      <form class="login100-form validate-form" method="post" th:action="@{/login}"  id="formlogin"  name="formlogin">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Username</span>
          <input class="input100" type="text" name="username" placeholder="Enter username" >
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Password</span>
          <input class="input100" type="password" name="password" placeholder="Enter password">
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-b-30">



          <div>
            <a href="/SignUp" class="txt1">
              Create account
            </a>
          </div>



        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Login
          </button>
        </div>
      </form>



    </div>
  </div>
</div>



</body>
</html>